AuthType Basic
AuthName "Restricted access"
AuthUserFile "C:\Users\salmaz\OneDrive - Al-Madinah School\Documents\Haukai restaurant using framework\haukairestaurantwebsite/haukai/.htpasswd"
Require valid-user